name: build

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Bun.js
      uses: oven-sh/setup-bun@v2

    - name: Install dependencies
      run: bun install

    - name: Lint project
      run: bun run check && bun run type-check

    - name: Build project
      run: bun run build
